<%= content_for :title, "Log In" %>

<p id="call-to-action">Log in to add or modify your flights:</p>
<%= form_for @user, url: session_url(subdomain: 'www'), method: :post do |f| %>
    <ul>
      <li><%= f.text_field :email, type: 'email', required: true, placeholder: t('activerecord.attributes.user.email') %></li>
      <li><%= f.password_field :password, required: true, placeholder: t('activerecord.attributes.user.password') %></li>
      <li class="submit"><%= f.submit "Log In" %></li>
    </ul>
<% end %>

<p>Don&rsquo;t have an account yet? <%= link_to "Sign up for one!", root_url(subdomain: false) %></p>
