<% content_for :title, "Flight to #{@flight.destination.airport.identifier} on #{l @flight.date, format: :flight}" %>
<%= render(partial: 'accounts/profile') %>

<section id="overview">
  <h1>
    <time datetime="<%= @flight.date.xmlschema %>"><%= l @flight.date, format: :flight %></time>
    <%= number_with_precision @flight.duration, precision: 1 %> hours
  </h1>
  <p><%= @flight.remarks %></p>
</section>

<section id="details">
  <% if show_blog? %>
      <div id="blog">
        <% if @flight.blog.present? %>
            <%= raw markdown.render(@flight.blog) %>
            <% if subdomain_owner? %>
                <p><%= link_to "Edit blog entry or add photos", edit_flight_url(@flight), class: 'button' %></p>
            <% end %>
        <% else %>
            <p>There is no blog entry for this flight. <%= link_to "Write one &rarr;".html_safe, edit_flight_url(@flight), class: 'button' %></p>
        <% end %>
      </div>
  <% end %>

  <div id="stats">
    <h2>Aircraft</h2>
    <div class="stat">
      <%= image_tag @flight.aircraft.image.url(:stat) %>
      <div>
        <h3><%= link_to @flight.aircraft.ident, "http://www.airport-data.com/aircraft/#{CGI.escape @flight.aircraft.ident}.html" %></h3>
        <p><%= @flight.aircraft.year %> <%= @flight.aircraft.long_type || @flight.aircraft.type %></p>
      </div>
    </div>

    <% @flight.occupants.includes(person: :slugs).sort { |c1, c2| precedence(c2.role) <=> precedence(c1.role) }.group_by(&:role).each do |role, occupants| %>
        <h2><%= occupants.many? ? role.pluralize : role %></h2>
        <% occupants.each do |occupant| %>
            <div class="stat">
              <%= link_to image_tag(occupant.person.photo.url(:stat)), occupant.person %>
              <div>
                <h3><%= link_to occupant.person.name, occupant.person %></h3>
                <p><%= pluralize_with_delimiter occupant.person.flights.count, 'flight' %></p>
              </div>
            </div>
        <% end %>
    <% end %>

    <h2>Route and stops</h2>
    <% @flight.destinations { |d| d.includes(:airport).limit(20) }.uniq.each do |destination| %>
        <div class="stat">
          <%= link_to image_tag(destination.photo.url(:stat)), destination.airport %>
          <div>
            <h3><%= link_to destination.airport.name, destination.airport %></h3>
            <p><%= destination.airport.city %>, <%= destination.airport.state %></p>
          </div>
        </div>
    <% end %>
    <% if @flight.stops.count > 18 %>
        <p>&hellip; and more &hellip;</p>
    <% end %>

    <% if show_blog? and not @flight.photographs.empty? %>
        <hr />
        <ul id="photos"></ul>
        <%= content_for :javascripts do %>
            <script type="text/javascript">
              $('#photos').carousel("<%= flight_photographs_url(@flight) %>", 'vertical')
            </script>
        <% end %>
    <% end %>
  </div>
</section>

<% if not show_blog? and not @flight.photographs.empty? %>
    <hr />
    <ul id="photos"></ul>
    <%= content_for :javascripts do %>
        <script type="text/javascript">
          $('#photos').carousel("<%= flight_photographs_url(@flight) %>", 'horizontal')
        </script>
    <% end %>
<% end %>

<nav>
  <% if @flight.previous %>
      <%= link_to "&larr; Previous flight".html_safe, @flight.previous, class: 'button-small' %>
  <% else %>
      <span class="button-small-disabled">&larr; Previous flight</span>
  <% end %>
  <% if @flight.next %>
      <%= link_to "Next flight &rarr;".html_safe, @flight.next, class: 'button-small' %>
  <% else %>
      <span class="button-small-disabled">Next flight &rarr;</span>
  <% end %>
</nav>
